
.option{
    text-align: center;
    display: grid;
    justify-content: center;
    padding-left: 12px;
    padding-right: 12px;
 }

 .value{
    
    grid-column: 2;
    padding: px;
    margin-bottom: 20px;
    margin-top: -60px;
    color: #F9F4F5;
    background-color: #006EDC;
    border: 1px solid #006EDC;
    border-radius: 5px;
    
}
.tbZebra {
  /*Acessa a tabela*/
 border: 1px solid #473198; ;  
} 

.tbZebra thead {
    
  /*Acessa o cabeçalho da tabela*/
  background-color: #473198; /*Adiciona um Background*/
  
}

.tbZebra tr th {
    
  /*Acessa o Table Head*/
  padding: 5px; /*Espaçamento de 5PX*/
  color: #F9F4F5; /*Cor do texto para branco*/
  text-align: left; /*Alinhamento do texto para esquerda*/
  text-align: center;
}

.tbZebra tbody tr {
  /*Acessa as linhas do tbody*/
  text-align: center;
  background-color: #F9F4F5; /*Adiciona um Background*/
  padding: 5px; /*Espaçamento de 5PX*/
}

/*
    even = Ímpar, a cada linha onde for valor Ímpar
    odd  = Par, a cada linha onde o valor for Par
*/
.tbZebra tbody tr:nth-child(even) {
  /*Acessa cada filho*/
  color: #F9F4F5;
  background-color: #006EDC; /*Altera a cor de fundo para a linha*/
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.option {
  text-align: center;
  display: grid;
  justify-content: center;
  padding-left: 12px;
  padding-right: 12px;
}
.option input[type="checkbox"] {
  /* Defina o tamanho desejado para o input checkbox */
  width: 20px;
  height: 20px;
  
}

.calendarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: #473198;
  color: #F9F4F5;
  padding: 18px;
  font-size: 16px;
  border-radius: 4px;
  font-weight: 600;
  border: none !important;
  transition: all linear 160ms;
  cursor: pointer;
  width: 100%; /* Faz o botão ocupar a largura total do calendário */
  max-width: 350px; /* Define uma largura máxima para o botão */
  margin-bottom : 10px;
  margin-top: 10px;
}


.btn:hover {
  background-color: #6b50ca;
}
.checkedRow {
  text-decoration: line-through; /* Adicione qualquer estilo de destaque que você desejar */

}

.registeredDate {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #6b50ca; /* Altere para a cor desejada */

}


