
.option{
    text-align: center;
    display: grid;
    justify-content: center;
    padding-left: 12px;
    padding-right: 12px;
 }

 .value{
    
    grid-column: 2;
    padding: px;
    margin-bottom: 20px;
    margin-top: -60px;
    color: #fff;
    background-color: #0086ff;
    border: 1px solid #0086ff;
    border-radius: 5px;
    
}
.tbZebra {
  /*Acessa a tabela*/
 border: 1px solid #00ecff; ;  
} 

.tbZebra thead {
    
  /*Acessa o cabeçalho da tabela*/
  background-color: #0086ff; /*Adiciona um Background*/
  
}

.tbZebra tr th {
    
  /*Acessa o Table Head*/
  padding: 5px; /*Espaçamento de 5PX*/
  color: #fff; /*Cor do texto para branco*/
  text-align: left; /*Alinhamento do texto para esquerda*/
  text-align: center;
}

.tbZebra tbody tr {
  /*Acessa as linhas do tbody*/
  text-align: center;
  background-color: #ffffff; /*Adiciona um Background*/
  padding: 5px; /*Espaçamento de 5PX*/
}

/*
    even = Ímpar, a cada linha onde for valor Ímpar
    odd  = Par, a cada linha onde o valor for Par
*/
.tbZebra tbody tr:nth-child(even) {
  /*Acessa cada filho*/
  background-color: #ceffff; /*Altera a cor de fundo para a linha*/
}
